<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Pesquisa de Livros - MVC</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
  <div class="top-container">
    <h1> Biblioteca MVC </h1>
    <p>Uma aplicação para aprendizado da arquitetura de software no padrão MVC</p>
  </div>

  <div class="page-container">
    <h2> Pesquisa de Livros </h2>
    <p> Informe o nome do autor</p>
    <form class="page-container forms" action="/pesquisa" method="GET">
      <input class="textfield" name="autor" autofocus placeholder="Digite o nome de um autor">
      <input class="button" type="submit" value="Pesquisar">
    </form>
    <p>Nomes válidos: valente, fowler e gof</p>
  </div>
</body>
</html>
